<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Candal|Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{#block "title"}}{{/block}}</title>
</head>
<body>
<div class="container" >
    <div class="col p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
            <a class="navbar-brand text-light" href="/"><h1><img style="height:90px" src="/images/baby-groot.jpg" alt="Hero"> HEROS' SQUAD</h1></a>
        </nav>
    </div>
    {{#block "content"}} {{/block}}
</div>

    <footer class="page-footer font-small ">
        <div class="container text-center text-md-left">
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="https://github.com/Mburiah"> Mburiah </a>
            </div>
        </div>
    </footer>

</div>
</body>
</html>